﻿
@{
    ViewBag.Title = "Test2";
}

@using (Html.BeginForm())
{
<div>
    姓名:@Html.TextBox("id") <br />
    帳號:@Html.TextBox("id") <br />
    密碼:@Html.Password("pwd") <br />
    性別:@Html.RadioButton("gender", "1")男性 @Html.RadioButton("gender", "0")女性 <br />
    興趣:@Html.CheckBox("swim")游泳 @Html.CheckBox("read")閱讀 @Html.CheckBox("watch movie")看電影 <br />
    自我介紹:@Html.TextArea("about") <br />
</div>
}

